.block-views-blockplayer-tournaments-block-1 {
  .view-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp1);
  }
}

.block-page-title-block,
.block-system-breadcrumb-block {
  margin-block-end: 0;
}
